
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
    list-style: none;
    text-decoration: none;
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.wrapper {
    display: flex;
    position: relative;
}


.sidebar img {
    width: 75%;
}


.sidebar {
    padding: 15px;
    margin-top: 5px;
    margin-left: 2px;
    position: fixed;
    width: 200px;
     /*height: 100px;
     background: red;
    border: 1px solid blue;*/
    border-right: 1px solid rgb(235, 223, 223);
}


.sidebar ul li {
    margin: 15px;
    padding: 10px;

    /*
    border: 1px solid rgb(193, 235, 193);*/
    border-radius: 15px;
    
}

.material-symbols-outlined {
    padding-right: 15px;
    float: left;
    background-color: white;
}

.sidebar ul li:hover {
    cursor: pointer;
    background-color: whitesmoke;
}


/*

@media screen and (min-width 750px) {
    .sidebar ul li a {
        display: none;
    }
    
}*/


@media screen and (min-width 600px) {
    .sidebar ul li {
        display: none;
    }
    
}